body {
  font-family: "Roboto", sans-serif;
  color: #03264c;
}

header {
  background-color: #ebebeb;
}

.cuerpos {
  font-size: 12px;
}

.titulares {
  font-size: 24px;
}

.precios {
  font-size: 18px;
}

.descuento {
  font-size: 16px;
}

.descripciones {
  font-size: 16px;
}

.azul {
  color: #03264c;
}

.yellow {
  background-color: #eac926;
}

.respmenu a {
  color: inherit;
  text-decoration: none;
  display: block;
}

.centrado {
  text-align: center;
}

.iconos {
  width: 2em;
  margin-inline: 10px;
}
