body {
  font-family: "Roboto", sans-serif;
  color: #03264c;
}
header {
  background-color: #ebebeb;
}
.cuerpos {
  font-size: 12px;
}

.titulares {
  font-size: 24px;
}

.precios {
  font-size: 18px;
}

.descuento {
  font-size: 16px;
}

.descripciones {
  font-size: 16px;
}
.yellow {
  background-color: #eac926;
}
